# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

*~
.DS_Store
.idea/
bower_components/
node_modules/
builds/development/libs/**/*
builds/development/css/style.min.css

### Sass template
.sass-cache
*.css.map
